#remember {
    margin-top: 11px;
  }

  .vertical-align input {
    vertical-align: -0.15em;
    margin-right: 2px;
    text-align: center;
  }

  .btn-square-soft {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #f9a9ae;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    background: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  }

  .btn-square-soft:active {
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);
  }

  .btn-square-soft:hover {
    text-decoration: none;
    color: #8448d354;
    background: linear-gradient(#fcedfb 0%, #ffbcbc 100%);
  }

  .btn-square-soft:hover .g {
    color: rgba(66, 134, 244, 0.61);
  }

  .btn-square-soft:hover .o {
    color: rgba(219, 69, 55, 0.63);
  }

  .btn-square-soft:hover .o2 {
    color: rgba(244, 179, 0, 0.637);
  }

  .btn-square-soft:hover .g2 {
    color: rgba(66, 134, 244, 0.644);
  }

  .btn-square-soft:hover .l {
    color: rgba(15, 157, 88, 0.651);
  }

  .btn-square-soft:hover .e {
    color: rgba(219, 69, 55, 0.671);
  }

  .btn-square-soft2 {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #355a9262;
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    background: #355392;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  }

  .btn-square-soft2:active {
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(#356592 0%, #355392 100%);
  }

  .btn-square-soft2:hover {
    text-decoration: none;
    color: #355392;
    background: rgba(24, 118, 242, 0.904);
  }

  .btn-square-soft2:hover .g {
    color: rgba(66, 134, 244, 0.61);
  }

  .btn-square-soft2:hover .o {
    color: rgba(219, 69, 55, 0.63);
  }

  .btn-square-soft2:hover .o2 {
    color: rgba(244, 179, 0, 0.637);
  }

  .btn-square-soft2:hover .g2 {
    color: rgba(66, 134, 244, 0.644);
  }

  .btn-square-soft2:hover .l {
    color: rgba(15, 157, 88, 0.651);
  }

  .btn-square-soft2:hover .e {
    color: rgba(219, 69, 55, 0.671);
  }

  .popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
  }

  .popup.is-show {
    opacity: 1;
    visibility: visible;
  }

  .popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
  }

  .popup-inner img {
    width: 100%;
  }

  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
  }

  .close-btn i {
    font-size: 20px;
    color: #333;
  }

  .black-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    cursor: pointer;
  }

