body {
    color: #000;
    background-color: #f5efe9;
  }

  .header {
    .logo {
        width: 120px;
        height: 82px;
    }
  }

  .headline {
    .caption {
      position: relative;
      width: 350px;
      .image {
        img {
      width: 100%;
        }
      }
      .title {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        h1 {
      color: #fff;
      font-size: 1.2em;
        }
      }
      .body {
        font-size: 0.8em;
      }
    }
  }

  .posts {
    .post {
      .date {
        font-size: 0.6em;
        color: #999999;
      }
      .title {
        font-size: 1.2em;
        font-weight: bold;
      }
      .body {
        font-size: 0.8em;
      }
      .image {
        img {
      width: 250px;
        }
      }
    }
  }

select{
color: #f00;
option{
    color:#4f4f4f;
    &:first-child{
    display: none;
    }
}
}

.header {
    background-color: #ea9034;
  }

.trim {
    overflow: hidden;
    width: 80px;/* トリミングしたい枠の幅 */
    height: 80px;/* トリミングしたい枠の高さ */
    object-fit: contain;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    margin: 0 auto;
    padding: 40px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
