table.sample {
    /* border-collapse: collapse;  テーブルの罫線を重ねて1本に見せる */
    /* border: 2px solid green;    テーブルの外側の枠線(2pxで緑色の実線) */
 }
 /* ▼セル共通の装飾 */
 table.sample th,
 table.sample td {
    /* border: 1px solid green;  テーブルの内側の罫線(1pxで緑色の実線) */
 }
 /* ▼見出しセルの装飾 */
 table.sample th {
    background-color: #ccffcc;  /* 背景色(淡い緑色) */
               /* 内側の余白(0.3文字分) */
 }
 /* ▼リンクの上にマウスが載った際の装飾(背景色だけ指定) */
 a:hover {
     /* background-color: #fcfcaa; */

    }

 table.sample td a {
    text-decoration: none;
    color: #fff;
    display: block;       /* リンクをブロックレベル化して表示 */
    padding: 0px;   /* 内側の余白量を上下に0.6文字分＆左右に1文字分にする */
 }

