/* 単語カード */

/* #addUwl img{
    width: 10px;
    height: 10px;
} */

main {
    /* background-color: #dcdcdc; */
	/* background-image:
     linear-gradient(-90deg, #f5f4e9 50%, transparent 50%, transparent); */

     /* text-decoration: none; */

    color: #534a42;
    font-family: Avenir,"Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,Roboto,"游ゴシック体","YuGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo UI","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 90%;
    margin: 0;
    /* max-width: 1920px;
    min-width: 1100px; */
    padding-top: 101px;
}

#summary {
    /* padding: 2px 2px 15px 2px;
    width: 726px; */
}

.mainBlock {
    background-color: #fff;
    box-shadow: 8px 6px 0 0 #e8e1d2;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    /* width: 710px; */
}

div {
    display: block;
}

/* .addLmFdWr {
    position: relative;
    z-index: 1000;
} */

#main {
    float: left;
    text-align: left;
    padding: 0 0 0 0px;
    width: 652px;
}

.summaryTbl {
    /* border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%; */
}

.summaryTbl * {
    /* vertical-align: top; */
}

table {
    display: table;
    /* border-collapse: separate; */
    box-sizing: border-box;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    border-color: grey;
    font-variant: normal;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;

}


tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.summaryL {
    vertical-align: middle;
}

h1 {
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 0 6px;
    /* word-break: break-all; */
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.summaryL span, .summaryL b.squareCircle {
    margin-top: 10px;
}

#summary span#h1Query {
    /* float: left;
    padding-left: 15px; */
}

/* #summary span#h1Suffix {
    display: block;
    float: left;
    font-size: 12px;
    margin: 5px 0 0 2px;
} */

/* #summary .h1keywords {
    clear: both;
    font-size: 10px;
    font-weight: normal;
    line-height: 1.0;
    margin: 0;
} */

/* .summaryC {
    padding-top: 5px;
    width: 140px;
    padding-right: 20px;
} */
/*
.summaryC td {
    text-align: center;
    white-space: nowrap;
    padding-left: 15px;
} */

/* #add {
    float: left;
    height: 30px;
    margin-left: 10px;
    position: relative;
    z-index: 0;
} */

/* #ePsdQc {
    float: left;
    height: 30px;
    margin-left: 10px;
    position: relative;
    z-index: 0;
} */




/* audio {
    width: 300px;
    height: 54px;
} */

/* .contentTopAudioIcon {
    font-size: 32px!important;
}

.adobeExtensionAudioIcon, .chromeExtensionAudioIcon, .contentTopAudioIcon, .contentBodyAudioIcon {
    cursor: pointer;
    padding: 0 0 0 0!important;
}

#ePsdDl {
    cursor: pointer;
    float: left;
    height: 20px;
    margin-left: 3px;
}

#main a:link, #main a:visited, #main a:active {
    color: #534a42;
}

a:active, a:link, a:visited {
    color: #534a42;
}

#ePsdDl i {
    font-size: 28px;
    margin-left: 13px;
} */





.summaryR>.error, #sideBHPAEjje>.error {
    font-size: 10px;
    background-color: #f8ddde;
    text-align: center;
    margin-bottom: 5px;
    display: none;
}

.addUwl>img {
    height: 28px;
    width: 28px;
    margin-top: 5px;
}

#cardName {
    margin-left: 20px;
    color: #000000;
    font-size: 30px;
}

#cardRegister{
    margin-right: 20px;
    padding-left: 20px;
}

#cardEdit{

}
#aiueo{
    margin-left: 0px;
padding-right: 0px;
}
.summaryM {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0 4px;
}

.summaryM .description {
    background-color: #564c46;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    margin: 0 5px 0 3px;
    padding: 3px 5px!important;
}






.EGateCoreDataWrp b, .descriptionWrp b {
    display: block;
    text-align: center;
}


.descriptionWrp table td.content-explanation {
    font-size: 20px;
    /* line-height: 2; */
    padding: 0px 0 0px 0;
    margin-top: 0px;
}



.EGateCoreDataWrp table td:first-child, .descriptionWrp table td:first-child {
    width: 80px;
}





.EGateCoreDataWrp table td, .descriptionWrp table td {
    font-size: 90%;
    font-weight: bold;
}
.EGateCoreDataWrp table td {
    vertical-align: top;
}

.EGateCoreDataWrp table td span {
    font-weight: normal;
}

.summaryM .squareCircle {
    margin-left: 2px;
    margin-right: 2px;
}
.squareCircle, .KejjeYrC, .KejjeLb {
    background-color: #f5efe9;
    border: #534a42 solid 1px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    margin: 2px 5px;
    padding: 0 3px!important;
}

.phoneticEjjeSym {
    padding: 0 5px 0 4px;
}
